@model WebTiendaCelulares.Models.Compra

@{
    ViewData["Title"] = "Delete";
}

<section id="eliminar-compra" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card shadow">
                    <div class="card-header bg-danger text-white">
                        <h2 class="card-title text-uppercase mb-0">Eliminar compra</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center text-danger">¿Estás seguro que quieres eliminar esta compra?</h3>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">Dirección de Envío</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.DireccionEnvio)</dd>

                            <dt class="col-sm-2">Total</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.Total)</dd>

                            <dt class="col-sm-2">Fecha de Venta</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaVenta)</dd>

                            <dt class="col-sm-2">ID de Celular</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.IdCelularNavigation.Id)</dd>

                            <dt class="col-sm-2">ID de Usuario</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.IdUsuarioNavigation.Id)</dd>
                        </dl>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="text-center">
                                <input type="submit" value="Eliminar" class="btn btn-danger" />
                                <a asp-action="Index" class="btn btn-secondary ml-2">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

