@model IEnumerable<WebTiendaCelulares.ViewModels.CompraViewModel>

@{
    ViewData["Title"] = "Index";
}

<section id="latest-blog" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Compras</h2>
                <div class="btn-right">
                </div>
            </div>
            <div class="post-grid d-flex flex-wrap justify-content-between">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaVenta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Celular)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usuario)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaVenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Celular)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">eliminar</a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</section>