@model WebTiendaCelulares.ViewModels.CelularViewModel

@{
    ViewData["Title"] = "Delete";
}

<section id="eliminar-celular" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card shadow">
                    <div class="card-header bg-danger text-white">
                        <h2 class="card-title text-uppercase mb-0">Eliminar celular</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center text-danger">¿Estás seguro que quieres eliminar este celular?</h3>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">Nombre</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>

                            <dt class="col-sm-4">Descripción</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Descripcion)</dd>

                            <dt class="col-sm-4">Marca</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Marca)</dd>

                            <dt class="col-sm-4">Modelo</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Modelo)</dd>

                            <dt class="col-sm-4">Precio</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Precio)</dd>

                            <dt class="col-sm-4">Categoría</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreCategoria)</dd>

                            <dt class="col-sm-4">Color</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreColor)</dd>
                        </dl>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="text-center">
                                <input type="submit" value="Eliminar" class="btn btn-danger" />
                                <a asp-action="Index" class="btn btn-secondary ml-2">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
