@model WebTiendaCelulares.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
}

<section id="detalles-usuario" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                        <h2 class="card-title text-uppercase mb-0">Detalles de Usuario</h2>
                        <a asp-action="Index" class="btn btn-light">Volver al Listado</a>
                    </div>
                    <div class="card-body">
                        <div>
                            <h4>Usuario</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Password)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Password)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
                            <a asp-action="Index" class="btn btn-danger">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
