@model IEnumerable<WebTiendaCelulares.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<section id="latest-blog" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Usuarios</h2>
                <div class="btn-right">
                </div>
            </div>
            <div class="post-grid d-flex flex-wrap justify-content-between">

                <p>
                    <a asp-action="Create">Crar nuevo </a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>